<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue Example</title>
</head>
<body>
<div id="app">
    <div v-if="seen">
        <h3>Add new Task</h3>
        <input type="text" v-model="message">

        <input type="button" v-on:click="Add()" value="Add"/>

    </div>
    <div v-else>
        <h3>Pending Tasks </h3>
        <p v-for="(task, index) in tasks">
            <span v-bind:style="styleObject" v-text="task.name"></span>
            <a href="#" v-on:click.prevent="deleteObject(index)">&times;</a>
        </p>

    </div>
    <button v-on:click="seen = !seen">Toggle</button>







</div>
<script src="dist/build.js"></script>
</body>
</html>